@import 'vars';


body {
	font-size: 14px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
	background-color: $gray;
	color: $text;
	// padding-top: 115px;
}

// Header

.header {
	background-color: #fff;
}

.navbar {
	background-color: #fff;

	button:focus {
		outline: none;
	}
}

.navbar-brand {
	margin-right: 100px;
}
.nav-item {
	height: 100%;
	margin-right: 45px;

}

.header {
	.nav-link {
		color: $text;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
		border-bottom: 2px solid white;
		transition: border-color .2s linear;
	
		&:first-child {
			padding-left: 120px;
		}
	
		&:hover {
			color: $text;
			border-color: $blue;
		}
	}
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 0px;
	padding-right: 0px;
}

.navbar-toggler {
	outline: none;
	border: none;
	&:focus {
		outline: 0;
	}
}

.navbar__burger {
	margin-top: 7px;
	font-size: 2rem;
	color: $blue;
	outline: none;
}

.navbar-collapse {
	@media (max-width: $tablet) {
		text-align: right;
	}
}

.nav__bar__btn__enter {
	@media (max-width: $tablet) {
		width: 100%;
	}
}

// Order

.order {
	padding-top: 40px;
	padding-bottom: 15px;
}

.order_top {
	margin-bottom: 30px;
}

.order__top__btn {
	@media (max-width: $mobile) {
		width: 100%;
	}


}

.order__btn {
	&--reserve {
		margin-right: 10px;
	}
	@media (max-width: $mobile) {
		width: 100%;
		&:first-child {
			margin-bottom: 10px;
		}
	}
}

.order__title {
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;

	@media (max-width: $mobile) {
		text-align: center;
	}
}

.order__bot__dropdown {
	.dropdown {

		@media (max-width: $tablet) {
			width: 100%;
			margin-top: 10px;
		}
	}
}

.order__bot__dropdown__btn {
	background-color: white;
	margin-right: 10px;

	.fa-calendar-alt {
		color: $gray2;
		margin-right: 5px;
	}

	@media (max-width: $tablet) {
		width: 100%;
		margin-right: 0;
	}
}


.order__btn {
	text-transform: uppercase;
	font-size: 12px;

	@media (max-width: $mobile) {
		width: 100%;
	}
}

.order__data__wrapper {
	position: relative;
	border-radius: .25rem;
}

.order__data__icon {
	position: absolute;
	left: 10px;
	top: 8px;
	font-size: 1.2rem;
	color: #8c8c8c;
}

.order__data {
	font-family: inherit;
	text-align: center;
	display: inline-block;
    font-weight: 400;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
	border-radius: .25rem;
	margin: 0;
}


// Calendar

.xdsoft_calendar {
	background-color: #fff;
	thead {
		color: #000;
	}
}

// Pagination

.pagination {
	min-width: 200px;
	@media (max-width: $tablet) {
		width: 100%;
	}

	&--reserve {
		@media (max-width: $tablet) {
			min-width: 200px;
			width: 200px;
		}

		@media (max-width: $mobile) {
			width: 100%;
		}


	}
}

.pagination__inner {
	&.row {
		margin-right: 0px;
		max-width: 100%;
		flex: 100%;
		justify-content: flex-end;
		flex-wrap: nowrap;
	}

	@media (max-width: 1200px) {
		margin-top: 15px;
	}

	@media (max-width: $mobile) {
		display: flex;
		justify-content: flex-end;
	}
}

.pagination__text {
	margin: 0;
	margin-right: 10px;
	display: inline-block;
}

.pagination__list {
	position: relative;
	text-decoration: underline;
	display: inline-block;
	cursor: pointer;
}

.pagination__list__value {
	display: none;
	position: absolute;
	top: 20px;
	left: 0;
	background-color: #fff;
	z-index: 200;
	text-decoration: none;
	width: 75px;
	color: #8a8a8a;
	text-align: center;
	border: 1px solid #8a8a8a;
	border-radius: 5px;

	&.active {
		display: block;
	}
}

.pagination__list__text {
	margin: 0;
	padding: 14px 18px;
	transition: background-color .2s linear;
	&:first-child {
		margin-top: 10px;
	}

	&:last-child {
		margin-bottom: 10px;
	}

	&:hover {
		background-color: #cce9ed;
	}
}

.pagination__link {
	display: inline-block;
	color: $text;
	border: 2px solid $gray2;
	border-radius: 5px;
	padding: 5px 12px;
	transition: background-color .2s linear, color .2s linear;

	&:hover {
		color: $text;
		background-color: white;
	}
}

// Board

.board {
	padding-bottom: 40px;
}

.board__inner {
	&.row {
		margin-left: 0px;
	}
}

.board__table {
	border-radius: 50px;
}

.board__profile {
	&-fixed {
		position: sticky;
		right: 0;
		top: 1rem;
	}
	@media (max-width: 1200px) {
		position: static;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
}

.board__ads {
	margin-top: 20px;
	text-align: center;
}

// Table

.table__head {
	background-color: $blue;
	color: white;
}

.table thead th {
	vertical-align: top;
}

.table__body {
	background-color: #fff;
}

.table__line {
	&:nth-child(even) {
		background-color: #f2f9fd;
	}

	small {
		color: #9fa1a3;
	}

	&--main {
		&:hover {
			background-color: #cce9ed;
		}
	}

	&--firstItem {
		display: none;

		&.show {
			display: table-row;
		}
	}

	&--secondItem {
		display: none;

		&.show {
			display: table-row;
		}
	}

	&--thirdItem {
		display: none;

		&.show {
			display: table-row;
		}
	}

	&--fourthItem {
		display: none;

		&.show {
			display: table-row;
		}
	}
}

.table__input {
	width: 100px;
	margin-right: 10px;
	text-align: right;
}

.table__actions {
	a {
		color: #8c8c8c;
		margin-left: 10px;
		transition: color .2s linear;

	&:hover {
		color: $text;
	}
	}
}

.table__cart {
	color: #8c8c8c;
	font-size: 1.3rem;
}

.table__show {
	font-size: 1.3rem;
}

.table__arrow {
	padding-top: 10px;
	color: $text;
	font-size: 1.3rem;

	&--hide {
		display: none;
	}
}

.tooltip-inner {
	background-color: white;
	color: #000;
	border: 1px solid black;
}

.table__poduct__under {
	color: #676767;
	font-weight: normal;

}


// Profile

.profile {
	flex-wrap: nowrap;
	border: none;

	.nav-link {
		margin: 0;
		padding: 25px 30px;
		border: none;
		border-top-left-radius: 0; 
		border-top-right-radius: 0; 
		background-color: $info;
		color: white;
		text-align: center;
		height: auto;

		&.profile__title--1 {
			border-top-left-radius: 5px; 
		}

		&.profile__title--2 {
			border-top-right-radius: 5px; 
		}

		&.active {
			color: $text;
			background-color: white;
		}
	}

	&--product {
		.nav-link {
			&.active {
				background-color: $info;
				color: white;
			}
	}
}
}



.profile--product .nav-link.active {
	width: 100%;
	border-top-left-radius: 5px; 
}

.profile__title {
	font-size: 12px;
	text-transform: uppercase;
	width: 50%;
	background-color: #fff;

	&--1 {
		border-radius: 0 25px  0 0;
	}
}

.profile__content {
	padding-top: 30px;
	min-height: 300px;
	background-color: #fff;
	border-radius: 0 0 5px 5px;

	&--product {
		min-height: 350px;
		padding-top: 0;
	}

	&--transport__reserve {
		padding-top: 0;
		min-height: 280px;
	}

}

.profile__item__content {
	&--product {
		padding: 30px;
		overflow: hidden;
	}
}

.profile__item__line {
	margin-left: 30px;
	margin-bottom: 20px;
	p {
		margin: 0;
	}

	&--product {
		margin-left: 0px;
		margin-bottom: 0;
	}
}



// Add Contacts (modal)

.addcontact {

	.modal-header {
		background-color: $blue;
		color: white;
	}
	
	.modal-body {
		background-color: #f0f0f0;
	}
	
	.modal-footer {
		background-color: #f0f0f0;

		.order__btn {
			@media (max-width: $tablet) {
				&:first-child {
					margin-bottom: 0;
				}
			}

			@media (max-width: $mobile) {
				&:first-child {
					margin-bottom: 0;
				}
			}
		}
	}

}

.addontact__star {
	font-size: 0.5rem;
	color: rgb(219, 51, 51);
}

// Product
.product__alert {
	background-color: #eef9fd;
	color: #0084db;
	border: 2px solid #0084db;
}

.product__select {
	max-width: 240px;
	text-align-last: center;

	&--transport__reserve {
		padding-left: 0;

		@media (max-width: $tablet)  {
			max-width: 100%;
			width: 100%;
		}
	}


}

.product__pannel {
	margin-top: 30px;

	li {
		margin: 10px;
	}
}

.product__pannel__link {
	background-color: #777;
	opacity: .6;
	&.nav-link {
		padding: 2px;

		&.active {
			opacity: 1;
			background-color: #777;
		}
	}
}

.product__photo {
	background-color: white;
}

// Reserve Product 2

.reserve__form__item {
	width: 48%;
}

.reserve__form__item__title {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
}

.reserve__form__wrapper__add {
	margin-top: 10px;
	margin-bottom: 15px;
}

.reserve__form__add {
	color: $text;
	text-decoration: underline;

	&:hover {
		color: $text;
		text-decoration: none;
	}
}

.reserve__form__textarea {
	resize: none;
}

.select__wrapper {
	position: relative;
}

.select__del {
	position: absolute;
	color: #929292;
	font-size: 1.1rem;
	top: 2px;
	right: -20px;

	&:hover {
		color: $text;
	}
}

// Ypur Order

.your__order__line {
	margin-bottom: 10px;
}

.your__order__item__title {
	display: inline-block;
}

.your__order__edit {
	color: #929292;
	font-size: 1.1rem;
	margin: 0 5px;

	&:hover {
		color: $text;
	}
}

.your__order__del {
	color: #929292;
	font-size: 1.1rem;

	&:hover {
		color: $text;
	}
}

// Reserve Forme

.reserve__form__item{
	@media (max-width: $tablet) {
		width: 100%;
	}
}

.reserve__form__select {
	@media (max-width: $tablet) {
		width: 95%;
	}
}

// Transport Reserve

.transport__reserve__inner {
	@media (max-width: $tablet) {
		text-align: center;
		margin-bottom: 20px;
	}
}

.transport__reserve__title {
	margin: 30px 0;

}

.transport__reserve__text {
	&--gray {
		color: #a1a1a2;
	}
}

// Login

.login__innner {
	max-width: 380px;
	width: 100%;
	margin: 0 auto;
	margin-top: 60px;
}

.login__logo {
	margin-bottom: 40px;
}

.login__form {
	margin-top: 20px;
}